<section class="about">
  <div class="main">
    <img src="../../../assets/myself.jpg" alt="Picture of owner">
    <div class="about-text">
      <h1>About Us</h1>
      <h5>Developer <span>& Designer</span> </h5>
      <p>I am a front-end web developer. I can provide clean code and pixel perfect design. I also make the website more & more interactive with web animations.I can provide clean code and pixel perfect design. I also make the website more & more interactive with web animations.A responsive design makes your website accessible to all users,regardless of their device.</p>
      <button mat-raised-button color="warn" (click)="onBackHandler()">back</button>
      <button mat-raised-button color="primary" (click)="onCLickHandler()">let's talk</button>
    </div>
  </div>
</section>
