<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="25">
    <mat-toolbar color="primary">
      Login Page
    </mat-toolbar>
    <form [formGroup]="form" fxLayoutAlign="stretch" fxLayout="column" class="login-form" (ngSubmit)="addPostHandle()">
      <mat-form-field appearance="fill">
        <input matInput placeholder="Email" id="email" required formControlName="email">
        <mat-label *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['required']">Email is required
        </mat-label>
      </mat-form-field>

      <ng-container formGroupName="pass">
        <mat-form-field appearance="fill">
          <input matInput type="password" placeholder="Password" id="password" formControlName="password">
          <mat-label
            *ngIf="form.get('pass')?.get('password')?.touched && form.get('pass')?.get('password')?.errors?.['required']">
            Password is
            required
          </mat-label>
        </mat-form-field>
      </ng-container>

      <button mat-button [disabled]="form.invalid">Login</button>
    </form>

    <button mat-button (click)="authService.GoogleAuth()">
      <i class="fab fa-google-plus-g"></i>
      Continue with Google
    </button>
  </mat-card>
</div>
